@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "Aleo";
  src: url("../fonts/Aleo-Font/Aleo-Bold.otf") format("otf");
  src: url("../fonts/Aleo-Font/Aleo-Regular.otf") format("otf");
}
* {
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

.page {
  padding: 10px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  width: 225px;
  height: 60px;
  background-color: #5474fd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  box-shadow: 0px 0px 10px black;
}
.btn a {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title, .btn a {
  font-family: "Aleo";
  font-weight: 400;
}

.desc {
  color: #e8e8e8;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1.6px;
}

.hero {
  height: 800px;
  background: url("../img/hero/hero_background.png") no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
}
.hero__column {
  max-width: 750px;
  height: 100%;
  margin: 0 auto;
}
.hero__title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4.8px;
  margin: 0 0 10px 0;
}
.hero__subtitle {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 6.82px;
  margin: 0 0 45px 0;
}
.hero__search-form {
  display: flex;
  height: 60px;
  margin: 0 0 120px 0;
}
.hero__search-form input {
  flex: 5 10 500px;
  text-align: center;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2.8px;
  color: #999999;
}
.hero__search-form button {
  flex: 1 1 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background: #5474fd;
  border: 2px solid #ffffff;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  cursor: pointer;
}
.hero__search-form button:hover {
  box-shadow: 0px 0px 10px black;
}
.hero__scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__scroll span {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 2.8px;
}

.choose-us {
  background: url("../img/choose-us/choose-us_background.png") no-repeat;
  background-size: cover;
  padding: 120px 0;
}
.choose-us__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.choose-us__text {
  flex: 1 1 50%;
}
.choose-us__images {
  flex: 1 1 50%;
}
.choose-us__title {
  font-size: 36px;
  color: #ffffff;
  margin: 0 0 60px 0;
}
.choose-us__desc {
  margin: 0 0 45px 0;
}
.choose-us__desc p:not(:last-child) {
  margin: 0 0 30px 0;
}
.choose-us__btn a {
  letter-spacing: 1.2px;
  font-size: 16px;
}
.choose-us__images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.choose-us__img:nth-of-type(1) {
  padding: 0 100px 0 0;
}

.how-it-works {
  background: #333333;
  padding: 80px 0 100px;
}
.how-it-works__row {
  display: flex;
  justify-content: space-around;
}
.how-it-works__step {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 30%;
}
.how-it-works__step span {
  color: #e8e8e8;
  font-size: 36px;
}
.how-it-works__step svg {
  margin: 0 0 15px 0;
}
