.choose-us {
    background: url("../img/choose-us/choose-us_background.png") no-repeat;
    background-size: cover;
    padding: 120px 0;

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__text {
        flex: 1 1 50%;
    }

    &__images {
        flex: 1 1 50%;
    }

    &__title {
        font-size: 36px;
        color: #ffffff;
        margin:  0 0 60px 0;
    }

    &__desc {
        & p:not(:last-child) {
            margin: 0 0 30px 0;
        }

        margin: 0 0 45px 0;
    }

    &__btn a {
        letter-spacing: 1.2px;
        font-size: 16px;
    }

    &__images {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__img:nth-of-type(1) {
        padding: 0 100px 0 0;
    }
}