.feedback {
    background: url("../img/feedback/feedback_background.png") no-repeat;
    background-size: cover;
    padding: 120px 0 200px;

    &__title {
        font-size: 36px;
        color: #ffffff;
        margin: 0 0 90px 0;
        text-align: center;
    }

    &__row {
        display: flex;
    }

    &__text {
        flex: 1 1 60%;
        background: #333333;
        padding: 50px 60px;
    }

    &__tourist-photo {
        flex: 1 1 40%;

        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__name {
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        color: #fefefe;

        margin: 0 0 30px 0;
    }

    &__feedback {
        letter-spacing: normal;

        & i {
            color: #5474fd;
            position: relative;
            top: -10px;

        }

        & P:not(:last-child) {
            margin: 0 0 20px 0;
        }

        // & p {
        //     position: relative;
        // }
    }
}
