.footer {
    background: #232323;
    padding: 120px 0 50px;
    text-align: center;

    &__column {
        max-width: 200px;
        margin: 0 auto;
    }

    &__row {
        display: flex;
        justify-content: space-around;
    }

    &__logo {
        & i {
            color: #ffffff;
        }

        & .fa-facebook-f:hover {
            color: #1877F2;
        }

        & .fa-twitter:hover {
            color: #1DA1F3;
        }

        & .fa-linkedin-in:hover {
            color: #0073B2;
        }

        & .fa-youtube:hover {
            color: #FF0101;
        }

        & .fa-pinterest:hover {
            color: #DF0022;
        }
    }

    &__title {
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 3.36px;

        margin: 0 0 10px 0;
    }

    &__subtitle {
        color: #ffffff;
        margin: 0 0 30px 0;
    }
}