.hero {
    height: 800px;
    background: url("../img/hero/hero_background.png") no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;

    &__column {
        max-width: 750px;
        height: 100%;
        margin: 0 auto;
    }

    &__title{
        font-size: 48px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 4.8px;
        margin: 0 0 10px 0;
    }

    &__subtitle {
        font-size: 22px;
        font-weight: 400;
        letter-spacing: 6.82px;
        margin: 0 0 45px 0;
    }

    &__search-form {
        display: flex;
        height: 60px;

        & input {
            flex: 5 10 500px;
            text-align: center;
            outline: none;

            font-size: 14px;
            font-weight: 400;
            letter-spacing: 2.8px;
            color: #999999;
        }

        & button {
            flex: 1 1 150px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;

            background: #5474fd;
            border: 2px solid #ffffff;
            outline: none;

            font-size: 14px;
            font-weight: 400;
            color: #ffffff;
            letter-spacing: 1.4px;
            text-transform: uppercase;

            cursor: pointer;

            &:hover {
                box-shadow: 5px 5px 10px black;
            }
        }

        margin: 0 0 120px 0;
    }

    &__scroll {
        display: flex;
        flex-direction: column;
        align-items: center;

        & span {
            font-size: 14px;
            font-weight: 400;
            color: #ffffff;
            letter-spacing: 2.8px;
        }
    }
}