.how-it-works {
    background: #333333;
    padding: 80px 0 100px;
    text-align: center;

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__step {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1 1 30%;

        & span {
            color: #e8e8e8;
            font-size: 36px;;
        }

        & svg {
            margin: 0 0 15px 0;
        }
    }

}