.header {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #5474fd;
    padding: 30px;

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        display: flex;
        gap: 40px;
    }

    &__title {
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2.4px;
    }

    &__link {
        color: #ffffff;
        font-family: 'Aleo';
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
    }
}