.places-one {
    background: url("../img/places/places-one.png") no-repeat;
    background-size: cover;
    padding: 220px 0 100px;
}

.places-two {
    background: url("../img/places/places-two.png") no-repeat;
    background-size: cover;
    padding: 220px 0 100px;
}

.places__row {
    display: flex;
}

.places {
    &__text {
        flex: 1 1 50%;
        background: rgba(35, 35, 35, 0.9);
        padding: 50px 30px;

        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__empty {
        flex: 1 1 50%;
    }

    &__country {
        color: #e8e8e8;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1.5px;
    }

    &__hotel {
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
    }

    &__desc {
        font-size: 16px;
        letter-spacing: normal;
        margin: 0 0 20px 0;

        & p:not(:last-child) {
            margin: 0 0 20px 0;
        }
    }

    &__btn {
        & a {
            letter-spacing: 1.2px;
            font-size: 16px;
        }
    }
}