@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@font-face {
  font-family: 'Aleo';
  src: url("../fonts/Aleo-Font/Aleo-Bold.otf") format("otf");
  src: url("../fonts/Aleo-Font/Aleo-Regular.otf") format("otf");
}

* {
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

li {
  list-style: none;
}

.page {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  position: relative;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn {
  width: 225px;
  height: 60px;
  background-color: #5474fd;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: 0px 0px 10px black;
  }

  & a {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.title, .btn a {
  font-family: 'Aleo';
  font-weight: 400;
}

.desc {
  color: #e8e8e8;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 1.6px;
}

@import "_hero";
@import "_choose-us";
@import "_how-it-works";
@import "_places";
@import "_feedback";
@import "_footer";
@import "_nav";

@media (max-width: 992px) {
  .choose-us {
    padding: 60px 0;
    text-align: center;

    &__row {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;

      max-width: 800px;
    }

    &__images {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;

      & img {
        width: 100%;
        height: auto;
      }
    }

    &__img:nth-of-type(1) {
      padding: 0;
    }
  }

  .how-it-works {
    padding: 60px 0;
  }

  .places-one, .places-two {
    padding: 60px 0;
  }

  .feedback {
    padding: 60px 0;

    &__title {
      margin: 0 0 45px 0;
    }
  }

  .footer {
    padding: 60px 0;
  }
}

@media (max-width: 768px) {
  .hero {
    height: 600px;
  }

  .choose-us {
    padding: 30px 0;

    &__images {
      display: flex;
      flex-direction: column;
    }
  }

  .how-it-works {
    padding: 30px 0;
  }

  .places-one, .places-two {
    padding: 30px 0;
  }

  .places {
    &__row {
      justify-content: center;
    }

    &__text {
      flex: 1 1 100%;
    }

    &__empty {
      display: none;
    }
  }

  .feedback {
    padding: 30px 0;

    &__title {
    margin: 0 0 45px 0;
    }

    &__row {
      flex-direction: column;
    }
  }

  .footer {
    padding: 30px 0;
  }
}

@media (max-width: 576px) {
  .hero {
    height: 500px;

    &__title {
      font-size: 36px;
    }

    &__search-form {
      flex-direction: column;
      gap: 10px;
      height: 120px;

      & input {
        flex: 1 1 60px;
        font-size: 12px;
      }

      & button {
        flex: 1 1 60px;
        width: 150px;
        margin: 0 auto;
      }
    }
  }

  .choose-us {
    &__title {
      margin: 0 0 30px 0;
    }

    &__desc {
      margin: 0 0 30px 0;
    }
  }


}