@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@font-face {
  font-family: 'Aleo';
  src: url("../fonts/Aleo-Font/Aleo-Bold.otf") format("otf");
  src: url("../fonts/Aleo-Font/Aleo-Regular.otf") format("otf");
}

* {
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

.page {
  padding: 10px;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.btn {
  width: 225px;
  height: 60px;
  background-color: #5474fd;

  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #ffffff;
  }
}

.title, .btn a {
  font-family: 'Aleo';
  font-weight: 400;
}